{# templates/dashboard/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('dashboard') }}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        {% endblock %}

        {% block javascripts %}
            
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('dashboard') }}
        {% endblock %}
    <title>Dashboard</title>
</head>
<body>
    <div class="ti-dashboard">
        <div class="ti-dashboard-nav">
            <ul class="ti-dashboard-nav-links">
                <li class="ti-dashboard-nav-link"><a>
                    <svg
                    width="25px"
                    height="25px"
                    viewBox="0 0 200 199.99999"
                    version="1.1"
                    id="svg5"
                    inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
                    sodipodi:docname="logoti.svg"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:svg="http://www.w3.org/2000/svg">
                    <defs
                        id="defs2" />
                    <g
                        inkscape:label="Warstwa 1"
                        inkscape:groupmode="layer"
                        id="layer1">
                        <linearGradient gradientTransform="rotate(150, 0.5, 0.5)" x1="50%" y1="0%" x2="50%" y2="100%" id="ffflux-gradient"><stop stop-color="hsl(315, 100%, 72%)" stop-opacity="1" offset="0%"></stop><stop stop-color="hsl(227, 100%, 50%)" stop-opacity="1" offset="100%"></stop></linearGradient>
                        <path
                        id="path33"
                        style="fill:url(#ffflux-gradient);stroke-width:1.01533"
                        inkscape:label="path33"
                        d="M 377.95312,0 A 377.95276,377.95276 0 0 0 0,377.95312 377.95276,377.95276 0 0 0 377.95312,755.90625 377.95276,377.95276 0 0 0 755.90625,377.95312 377.95276,377.95276 0 0 0 377.95312,0 Z m 114.48633,120.30273 c 1.08507,0 2.06163,0.7602 2.92969,2.2793 1.08507,1.30209 1.95247,3.03689 2.60352,5.20703 0.86805,1.95313 1.51909,4.23177 1.95312,6.83594 0.43403,2.60417 0.65039,5.20833 0.65039,7.8125 0,3.90625 -0.54188,8.03081 -1.62695,12.37109 -1.08507,4.12327 -2.71267,7.92036 -4.88281,11.39258 -2.17014,3.25521 -4.88347,5.96853 -8.13868,8.13867 -3.25521,2.17014 -7.05229,3.25391 -11.39257,3.25391 h -13.34571 c -6.2934,-0.21701 -13.56401,-0.43338 -21.81054,-0.65039 -8.24654,-0.21701 -16.92643,-0.43338 -26.04102,-0.65039 -9.11459,-0.21702 -17.57812,-0.43533 -25.39062,-0.65235 v 377.93165 c 0,14.75695 -0.97657,27.34309 -2.92969,37.75976 -1.73611,10.41667 -4.23307,18.88021 -7.48828,25.39063 -3.25521,6.51042 -7.26866,11.28407 -12.04297,14.32226 -4.5573,3.0382 -9.54926,4.5586 -14.97461,4.5586 -4.12327,0 -8.68055,-1.41124 -13.67188,-4.23243 -4.99132,-2.82118 -9.76497,-6.29275 -14.32226,-10.41601 -4.34028,-4.12327 -8.03016,-8.35503 -11.06836,-12.69531 -2.82118,-4.34029 -4.23242,-8.13933 -4.23242,-11.39454 0,-2.17014 0.21831,-3.57942 0.65234,-4.23046 0.65104,-0.43403 1.40929,-0.65235 2.27734,-0.65235 1.08507,0.21702 2.27995,0.54254 3.58204,0.97656 1.51909,0.43403 3.1467,0.65235 4.88281,0.65235 6.07639,0 10.41536,-3.79904 13.01953,-11.39453 2.82118,-7.81251 4.23242,-20.18228 4.23242,-37.10938 V 176.94336 c -20.61633,1.73611 -40.47308,5.42599 -59.57031,11.06836 -19.09724,5.42535 -35.91514,13.67056 -50.45508,24.73828 -14.53994,11.06772 -26.15147,25.49977 -34.83203,43.29492 -8.68056,17.57814 -13.01953,39.27885 -13.01953,65.10352 0,11.50174 1.08376,21.91839 3.2539,31.25 2.38716,9.11459 5.426,17.36175 9.11524,24.74023 3.68924,7.37848 7.70464,13.88889 12.04492,19.53125 4.5573,5.64237 9.00542,10.63433 13.3457,14.97461 3.68924,-1.08507 6.29341,-0.65039 7.8125,1.30274 1.5191,1.95312 2.2793,4.66449 2.2793,8.13671 0,4.34029 -0.97656,8.89757 -2.92969,13.67188 -1.73611,4.55729 -4.12391,8.78906 -7.16211,12.69531 -3.03819,3.68924 -6.50976,6.83724 -10.41601,9.44141 -3.68924,2.38715 -7.48828,3.58008 -11.39453,3.58008 -1.73612,0 -3.47092,-0.21637 -5.20703,-0.65039 -1.5191,-0.43403 -3.1467,-1.41059 -4.88282,-2.92969 -4.77431,-3.47223 -10.52647,-9.11523 -17.2539,-16.92774 -6.72744,-8.02952 -13.12869,-17.90429 -19.20508,-29.62304 -6.07639,-11.71876 -11.28472,-25.0651 -15.625,-40.03907 -4.34028,-15.19098 -6.51172,-31.57616 -6.51172,-49.15429 0,-32.11808 5.96852,-60.43835 17.9043,-84.96094 11.93577,-24.52259 28.53731,-45.03037 49.80468,-61.52344 21.26738,-16.71008 46.44161,-29.29622 75.52149,-37.75976 29.29689,-8.46355 61.30705,-12.69532 96.0293,-12.69532 8.02951,0 17.68597,0.10916 28.9707,0.32618 11.50174,0 22.89496,0.1072 34.17969,0.32422 11.28473,0.21701 21.37586,0.43532 30.27343,0.65234 h 18.55469 c 2.82118,0 5.09983,-0.21832 6.83594,-0.65234 1.95313,-0.65105 3.47157,-1.30209 4.55664,-1.95313 1.30208,-0.65104 2.27864,-1.19293 2.92969,-1.62695 0.65104,-0.65105 1.19488,-0.97657 1.6289,-0.97657 z m 21.48438,68.68555 c 5.85938,0 11.28407,1.08377 16.27539,3.25391 4.99132,1.95312 9.22309,4.7756 12.69531,8.46484 3.68924,3.47223 6.50977,7.70399 8.46289,12.69531 2.17014,4.99133 3.25586,10.41602 3.25586,16.27539 0,5.64237 -1.08572,10.95985 -3.25586,15.95118 -1.95312,4.77431 -4.77365,9.00607 -8.46289,12.69531 -3.47222,3.68924 -7.70399,6.61892 -12.69531,8.78906 -4.99132,2.17014 -10.41601,3.25391 -16.27539,3.25391 -5.42535,0 -10.63368,-1.08377 -15.625,-3.25391 -4.77431,-2.17014 -9.00608,-5.09982 -12.69531,-8.78906 -3.47223,-3.68924 -6.29471,-7.921 -8.46485,-12.69531 -2.17014,-4.99133 -3.2539,-10.30881 -3.2539,-15.95118 0,-5.85937 1.08376,-11.28406 3.2539,-16.27539 2.17014,-4.99132 4.99262,-9.22308 8.46485,-12.69531 3.68923,-3.68924 7.921,-6.51172 12.69531,-8.46484 4.99132,-2.17014 10.19965,-3.25391 15.625,-3.25391 z m -20.50781,147.46094 c 11.06771,0 19.7476,2.92968 26.04101,8.78906 6.51042,5.64237 9.76563,12.47829 9.76563,20.50781 v 169.27149 c 0,1.5191 0.10915,4.0141 0.32617,7.48633 0.21701,3.25521 0.86805,6.61957 1.95312,10.09179 1.08507,3.47223 2.81988,6.50912 5.20703,9.11328 2.38716,2.60417 5.75152,3.90625 10.0918,3.90625 6.51042,0 12.15343,-2.38584 16.92774,-7.16015 4.99132,-4.77431 9.22308,-10.74284 12.69531,-17.9043 3.68924,-7.16146 6.72612,-14.86479 9.11328,-23.11133 2.38715,-8.46354 4.34028,-16.38519 5.85937,-23.76367 1.30209,-6.72743 3.25521,-11.61024 5.85938,-14.64844 2.82118,-3.03819 5.75087,-4.66579 8.78906,-4.88281 3.25521,-0.43403 6.40321,0.32617 9.44141,2.2793 3.25521,1.95312 6.07573,4.55729 8.46289,7.8125 2.60417,3.03819 4.44813,6.50976 5.5332,10.41601 1.30209,3.90626 1.5204,7.59614 0.65235,11.06836 -3.0382,11.06772 -7.0536,22.6773 -12.04493,34.83008 -4.77431,12.15279 -10.95919,23.32964 -18.55468,33.5293 -7.59549,10.19966 -16.71007,18.66319 -27.34375,25.39062 -10.63369,6.72744 -23.11262,10.08985 -37.43555,10.08985 -8.89758,0 -16.81727,-1.73481 -23.76172,-5.20703 -6.94445,-3.25521 -12.80382,-7.7053 -17.57812,-13.34766 -4.77431,-5.64237 -8.4642,-12.25998 -11.06836,-19.85547 -2.38716,-7.59549 -3.58008,-15.6263 -3.58008,-24.08984 V 369 c 0,-6.29341 -0.54384,-10.85069 -1.62891,-13.67188 -0.86805,-2.82118 -1.30078,-5.42534 -1.30078,-7.8125 0,-3.25521 1.73481,-5.85937 5.20703,-7.8125 3.47223,-2.17014 7.59679,-3.2539 12.3711,-3.2539 z"
                        transform="scale(0.26458333)" />
                    </g>
                    </svg></a></li>
                <li class="ti-dashboard-nav-link"><a><span class="material-symbols-outlined">home</span>Tidev.pl</a></li>
                <li class="ti-dashboard-nav-link"><a></a></li>
                <li class="ti-dashboard-nav-link"><a></a></li>
                <li class="ti-dashboard-nav-link"><a></a></li>
            </ul>
        </div>
        <ul class="ti-dashboard-pages">
            {% for element in elements %}
                <li class="ti-dashboard-page load-page" data-url="{{path(element.action)}}"><a ><span class="material-symbols-outlined">{% if element.icon is not empty %}{{ element.icon }}{% endif %}</span>{{ element.label }}</a>
                <ul class="ti-dashboard-page-submenu">
                {% for page in element.items %}
                    <li class="ti-dashboard-page-subpage load-page" data-url="{{path(page.action)}}">{{page.label}}</li>
                {% endfor %}
                </ul>
                </li>
            {% endfor %}
        </ul>
        <div class="ti-dashboard-container" id="ti-dashboard-container">
        {{ render(path(route)) }}
        </div>
    </div>
</body>
</html>